.headerContainer {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
}

header {
  span.category {
    display: block;
    margin-top: 2rem;
    margin-left: 9rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);

    span {
      margin-left: 1rem;
    }
  }
}